* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tertiary-color: #b4d975;
    --secondary-color: #ffffff;
    
}
body {
    color: var(--secondary-color);
    font-family: Verdana, Arial, sans-serif;
}
.section-title {
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
    padding: 15px;

}
/* header styles*/
header {
 background-image: url("../images/hero-img.jpg");
 padding: 20px 35px;
 background-color: var(--tertiary-color);
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 position: sticky;
 top: 0;
 position: -webkit-sticky;
 background-size: cover;
 background-position: 80%;
 background-attachment: fixed;
 z-index: 9999;
}

header h1 a {
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    font-style: italic;
    border: 0 solid var(--secondary-color);
    background-color: rgba(180, 217, 117, 1);
    border-radius: 25px;
    margin-right: 40px;
    margin-left: 40px;
}

/* hero styles */
.hero {
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}
.hero-text {
    padding: 35px;
    margin: 300px;
}

/* about styles */
.about-me {
    background: #ffe27a;
}
.about-me h2 {
    color: var(--secondary-color);
}
.about-me img {
    height: 300px;
}
.profile-img, .about-text {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
.about {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about > * {
    flex: 1;
    margin: 15px 50px 15px 50px;
}

/* contact styles */

.contact-me {
    background: var(--tertiary-color);
}
/* footer styles */

footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    font-style: italic;
}

